<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <!-- FrameKit 편집기가 이 값으로 배경 제거 구현을 찾는다. -->
        <meta-data
            android:name="com.naury.framekit.BACKGROUND_REMOVER"
            android:value="com.naury.framekit.segmentation.MlKitBackgroundRemover" />
    </application>

</manifest>
